{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow p-5 text-center">

        <h1 class="text-success">
            ✅ Order Placed Successfully!
        </h1>

        <p class="mt-3">
            Thank you for shopping with us.
        </p>

        <hr>

        <h4>Order #{{ order.id }}</h4>

        <p>
            Payment Method:
            <strong>{{ order.get_payment_method_display }}</strong>
        </p>

        <p>
            Payment Status:
            <strong>{{ order.payment_status }}</strong>
        </p>

        <p>
            Order Status:
            <strong>{{ order.status }}</strong>
        </p>

        <h3 class="mt-3">
            Total: ₹{{ order.total_price }}
        </h3>

        <div class="mt-4">
            <a href="{% url 'my_orders' %}" class="btn btn-primary">
                View My Orders
            </a>

            <a href="{% url 'product_list' %}" class="btn btn-success">
                Continue Shopping
            </a>
        </div>

    </div>

</div>

{% endblock %}