{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">My Profile</h1>

<div class="card p-4">

    <div class="text-center mb-4">
    <img
        src="{{ profile.profile_image.url }}"
        alt="Profile Picture"
        class="profile-img"
    >
</div>

    <p>
        <strong>Username:</strong>
        {{ request.user.username }}
    </p>

    <p>
        <strong>Email:</strong>
        {{ request.user.email|default:"Not provided" }}
    </p>

    <p>
        <strong>Phone:</strong>
        {{ profile.phone|default:"Not provided" }}
    </p>

    <p>
        <strong>Address:</strong>
        {{ profile.address|default:"Not provided" }}
    </p>

    <p>
        <strong>City:</strong>
        {{ profile.city|default:"Not provided" }}
    </p>

    <p>
        <strong>State:</strong>
        {{ profile.state|default:"Not provided" }}
    </p>

    <p>
        <strong>Pincode:</strong>
        {{ profile.pincode|default:"Not provided" }}
    </p>

    <a
        href="{% url 'edit_profile' %}"
        class="btn btn-primary mt-3"
    >
        ✏️ Edit Profile
    </a>

</div>

{% endblock %}